alembic.ini
b
deploy
db.sqlite
config.cfg
__pycache__
*.py[co]
*.sw?
*.*~
helpers/groups.cfg
doc/build
scripts/fixperms.sh
static/templates/analytics.html
static/geoip.db
# ignore tj-specific submodule
commands/tjhsst
