[core]
host: irc.freenode.net
serverport: 2688
nick: Bot
channel: #channel
ctrlchan: #channel-control
cmdchar: !
logdir: /var/log/irc/
quoteurl: http://pefoley.com/irc/quotes.html
[auth]
ctrlpass:
nickpass:
ctrlkey:
admins: admin1, admin2
[api]
steamapikey:
dictionaryapikey:
weatherapikey:
ebayapikey:
githubapikey:
githubrepo:
