HOST = 'irc.freenode.net'
NICK = 'tjhsstBot'
NICKPASS = ''
CHANNEL = '#tjhsst'
ADMINS = ['pfoley', 'fwilson', 'ahamilto', 'srepetsk', 'TechFilmer', 'csssuf']
STEAMAPIKEY = ''
STEAMENABLE = False
LOGDIR = '/var/log/irc/'
