[core]
host: irc.freenode.net
serverport: 2688
ircport: 6667
ssl: False
ipv6: False
nick: exampleBot
channel: #channel
ctrlchan: #channel-control
extrachans: #chan1, #chan2
cmdchar: !
altcmdchars: fwil, @, ~
url: http://example.com/irc/
nickregex: [a-zA-Z0-9_\|`\^-]
extracommands:
[groups]
hooks: core, optional
commands: core, useful, optional
[auth]
ctrlpass:
nickpass:
serverpass:
ctrlkey:
admins: admin1, admin2
[db]
engine:
[feature]
server: True
prettyerrors: True
lazyregex: True
hooks: True
capskick: True
nickkick: True
linkread: True
[api]
steamapikey:
dictionaryapikey:
weatherapikey:
ebayapikey:
githubapikey:
githubrepo:
wolframapikey:
translateid:
translatesecret:
fmlkey:
googleapikey:
xkcdsearchid:
googlesearchid:
