include bot.py COPYING
include alembic/env.py alembic/script.py.mako alembic/versions/*.py
include doc/conf.py
include scripts/reload scripts/ircbot scripts/*.sh
include static/shakespeare-dictionary.json static/slogans.txt static/wordlist
include static/*.example
include static/templates/*.html
exclude static/templates/analytics.html
