[project]
	description = IrcBot!
[access "refs/*"]
	owner = group user/Samuel Damashek (sdamashek)
[access "refs/for/refs/*"]
	read = group user/Samuel Damashek (sdamashek)
	push = group user/Samuel Damashek (sdamashek)
	label-Code-Review = -2..+2 group user/Samuel Damashek (sdamashek)
	label-Verified = -1..+1 group user/Samuel Damashek (sdamashek)
	rebase = group user/Samuel Damashek (sdamashek)
	removeReviewer = group user/Samuel Damashek (sdamashek)
	submit = group user/Samuel Damashek (sdamashek)
[access "refs/heads/*"]
	read = group user/Samuel Damashek (sdamashek)
	create = group user/Samuel Damashek (sdamashek)
	push = +force group user/Samuel Damashek (sdamashek)
	pushMerge = group user/Samuel Damashek (sdamashek)
[access "refs/tags/*"]
	push = +force group user/Samuel Damashek (sdamashek)
	pushTag = group user/Samuel Damashek (sdamashek)
	pushSignedTag = group user/Samuel Damashek (sdamashek)
