{% extends 'base.html' %}
{% block title %}Polls Page{% endblock %}
{% block content %}
<table class="table table-bordered sortable">
    <tr style="cursor: pointer">
        <th>Number</th>
        <th>Question</th>
        <th>Responses</th>
    </tr>
    {% for id,question in polls.items() %}
    <tr>
        <td>{{ id|trim }}</td>
        <td>{{ question|trim|e }}</td>
        <td>
            <table class="table table-hover">
                {% for response,votes in responses[id].items() %}
                <tr>
                    <td>{{ response|trim|e }}</td>
                    <td>{{ votes|join(', ') }}</td>
                </tr>
                {% endfor %}
            </table>
            {{ winners[id]|trim|e }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
