[hooks]
core: caps,
    babble,
    note,
    scores,
    url
optional: band,
    butt,
    reddit,
    understanding
disabled: bob,
    autodeop,
    ctf,
    stallman,
    xkcd
[commands]
admin: abuse,
    cadmin,
    ignore,
    join,
    part,
    quit
core: about,
    admins,
    cancel,
    channels,
    defersay,
    guarded,
    help,
    highlight,
    hooks,
    mission,
    mode,
    msg,
    nicks,
    note,
    pull,
    s,
    score,
    seen,
    stats,
    threads,
    timeout,
    uptime,
    version,
    vote
useful: quote,
    babble,
    bc,
    define,
    google,
    grep,
    issue,
    isup,
    man,
    metar,
    ping,
    reddit,
    slogan,
    time,
    timeuntil,
    translate,
    urban,
    weather,
    wiki,
    wolf
optional: 8ball,
    acronym,
    ahamilto,
    bard,
    bike,
    blame,
    botsnack,
    botspam,
    choose,
    cidr,
    coin,
    creffett,
    cve,
    ddate,
    demorse,
    distro,
    dvorak,
    ebay,
    eix,
    errno,
    filter,
    fml,
    fortune,
    fweather,
    fwilson,
    gcc,
    gizoogle,
    imdb,
    inspect,
    insult,
    ipa,
    jargon,
    kill,
    lmgtfy,
    microwave,
    morse,
    nuke,
    paraphrase,
    pester,
    pfoley,
    praise,
    random,
    randtranslate,
    roman,
    sha512,
    shibe,
    signal,
    slap,
    srepetsk,
    stock,
    stopwatch,
    summon,
    throw,
    tjbash,
    wai,
    wikipath,
    word,
    wtf,
    xkcd,
    yoda
