{% extends 'base.html' %}
{% block title %}Polls Page{% endblock %}
{% block content %}
<table class="table table-bordered table-hover table-striped sortable">
    <tr style="cursor: pointer">
        <th>Number</th>
        <th>Question</th>
        <th>Responses</th>
    </tr>
    {% for pid,question in polls.items() %}
    <tr>
        <td>{{ pid|trim }}</td>
        <td>{{ question|trim }}</td>
        <td>
            <table>
                {% for response,votes in responses[pid].items() %}
                <tr>
                    <td>{{ response|trim }}</td>
                    <td>{{ votes|join(', ') }}</td>
                </tr>
                {% endfor %}
            </table>
            {{ winners[pid]|trim }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
