{% extends 'base.html' %}
{% block title %}Quotes Page{% endblock %}
{% block content %}
<table class="table table-bordered table-hover table-striped">
    <tr>
	<th>Number</th>
        <th>Quote</th>
        <th>Author</th>
        <th>Submitter</th>
    </tr>
    {% for quote in quotes %}
    <tr>
        <td>{{ quote.id|trim }}</td>
        <td>{{ quote.quote|trim|e }}</td>
        <td>{{ quote.nick|trim }}</td>
        <td>{{ quote.submitter|trim }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
