{% extends 'base.html' %}
{% block title %}Url Log{% endblock %}
{% block content %}
<ol class="list-group">
    {% for x in urls %}
        {% set url = x.url|trim %}
        <li class="list-group-item">
            <a href="{{ url }}">
                {% if x.title == 'Image' %}
                    <img class="img-responsive" src="{{ url }}" />
                {% else %}
                    {{ x.title|trim }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ol>
{% endblock %}
